<html>
<head>
    <title>Lose Notice - Add Lose Notice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Add Lose Notice</h1>
Username : <B>{{user_data.username}}</B> <br>
E-mail : <B>{{user_data.email}}</B> <br><br>
        <form action="{% url 'save_new_item_lost' %}" method="POST">

    Name Item : <input name="name_item" id="id_name_item" placeholder="Enter name item" /></br>

	Detail : <input name="detail" id="id_detail" placeholder="Enter Detail item lost" /></br>

    Time lost : <input name="time_lost" id="id_time_lost" placeholder="Enter Time lost" /></br>

    Location : <input name="location_lost" id="id_location_lost" placeholder="Enter Location lost" /></br>

    <input type="hidden" name="your_name" id="id_your_name" value={{user_data.username}} ></br>
    <input type="hidden" name="your_email" id="id_your_email" value={{user_data.email}} ></br>
    
	<input type="submit" value="Submit" class="btn btn-success">
        	{% csrf_token %}
        </form>
    </body>
</html>
