<html>
<head>
    <title>Lose Notice</title>
</head>
<body>
<h1>Lose Notice</h1>
        <form action="{% url 'save_new_found_owner' %}" method="POST">

    Name Item : <input name="name_item" id="id_name_item" placeholder="Enter name item" /></br>

	Detail : <input name="detail" id="id_detail" placeholder="Enter Detail item lost" /></br>

    Time Found : <input name="time_found" id="id_time_lost" placeholder="Enter Time lost" /></br>

    Location : <input name="location_found" id="id_location_lost" placeholder="Enter Location lost" /></br>

	Username : <input name="your_name" id="id_your_name" placeholder="Enter Your name" /></br>

	E-mail : <input name="your_email" id="id_your_email" placeholder="Enter your e-mail" /></br>
	<input type="submit" value="Submit">
        	{% csrf_token %}
        </form>
    </body>
</html>
