<html>
<head>
    <title>Lose Notice</title>
</head>
<body>
<h1>Add New Found </h1>
Username : <B>{{user_data.username}}</B> <br>
E-mail : <B>{{user_data.email}}</B> <br><br>
        <form action="{% url 'save_new_found_owner' %}" method="POST">

    Name Item : <input name="name_item" id="id_name_item" placeholder="Enter name item" /></br>

	Detail : <input name="detail" id="id_detail" placeholder="Enter Detail item lost" /></br>

    Time Found : <input name="time_found" id="id_time_lost" placeholder="Enter Time lost" /></br>

    Location : <input name="location_found" id="id_location_lost" placeholder="Enter Location lost" /></br>

	<input type="hidden" name="your_name" id="id_your_name" value={{user_data.username}} ></br>
    <input type="hidden" name="your_email" id="id_your_email" value={{user_data.email}} ></br>

	<input type="submit" value="Submit">
        	{% csrf_token %}
        </form>
    </body>
</html>
