<html>
<head>
    <title>Lose Notice - Detail Find Owner</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
</head>
<body>

<h1>Detail Find Owner</h1>
<h2>Name item : {{found_owner_list.name_item}}</h2> <br>
<div id="detail">Detail :    {{found_owner_list.detail}}</div> <br>
<div id="detail">Time lost : {{found_owner_list.time_found}}</div> <br>
<div id="detail">Location :  {{found_owner_list.location_found}}</div> <br>
<div id="detail">Find status :  {{found_owner_list.found_owner}}</div> <br>
<div id="your_name">Username : {{found_owner_list.your_name}}</div> <br>
<div id="your_email">Email : {{found_owner_list.your_email}}</div> <br>
<br>
<div class="col-sm-1"><a href="{% url 'home' %}" id="back_to_homepage" class="btn btn-primary">Back to Homepage</a>

</body>
</html>
