<html>
<head>
    <title>Lose Notice</title>
</head>
<body>
<h1>Lose Notice</h1>
<div>
<a href="{% url 'login_page' %}" id="login_page">Login</a> 
 | <a href="{% url 'register_page' %}" id="register_page">Register</a>
</div>
<br>
list lost notice
<table id="id_list_table">
</table>
{% if all_lost_noitce_list %}
	{% for LostNoticeList in all_lost_noitce_list %}
		<tr><td><a href="{% url 'detail_lost_item' LostNoticeList.id %}">{{ LostNoticeList.name_item }}</a></td></tr> <br>
	{% endfor %}
{% endif %}
<br>
Find owner
{% if all_found_owner %}
	{% for FindOwnerList in all_found_owner %}
		<tr><td><a href="{% url 'detail_found_owner' FindOwnerList.id %}">{{ FindOwnerList.name_item }}</a></td></tr> <br>
	{% endfor %}
{% endif %}

</body>
</html>
