<html>
<head>
    <title>Lose Notice</title>
</head>
<body>
<h1>Profile</h1>
Username : <B>{{user_data.username}}</B> <br>
E-mail : <B>{{user_data.email}}</B> <br>
<br>
lost notice list
<table id="id_list_table">
</table>
{% if lost_noitce_list %}
	{% for LostNoticeList in lost_noitce_list %}
		<tr><td><a href="{% url 'detail_lost_item' LostNoticeList.id %}">{{ LostNoticeList.name_item }}</a></td></tr> <br>
	{% endfor %}
{% endif %}

<br>
find owner list
<br>
{% if found_owner_list %}
	{% for FindOwnerList in found_owner_list %}
		<tr><td><a href="{% url 'detail_lost_item' FindOwnerList.id %}">{{ FindOwnerList.name_item }}</a></td></tr> <br>
	{% endfor %}
{% endif %}
<br>
<a href="{% url 'add_new_lost_item' user_data.id %}" id="add_new_lost_item">Add New Lost Notice</a>

<br>
<a href="{% url 'add_new_found_owner' user_data.id %}" id="add_new_found_owner">Add New Find Owner</a>
</body>
</html>
