<html>
<head>
{% if user_check %}
    <title>Lose Notice - Register Failed</title>

{% else %}
    <title>Lose Notice - Register Complete</title>

{% endif %}
    <title>Lose Notice</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

{% if user_check %}
<h1>Register Failed</h1>
User : {{username}}<br>
<a href="{% url 'register_page' %}" id="register_page">Register Again</a>

{% else %}
<h1>Register Complete</h1>
User : {{username}}<br>
<a href="{% url 'login_page' %}" id="login_page" class="btn btn-success">Login</a> 
{% endif %}

<br>
<a href="{% url 'home' %}" id="back_to_homepage" class="btn btn-primary">Back to Homepage</a>



</body>
</html>
