{% extends "base.html" %}
{% block title %}Detail Find Owner{% endblock %}

{% block content %} 

<h2>Detail Find Owner</h2>
<h1>{{found_owner_list.title}}</h1> <br>
<div id="name">Name item :    {{found_owner_list.name_item}}</div> <br>
<div id="detail">Detail :    {{found_owner_list.detail}}</div> <br>
<div id="time">Time lost : {{found_owner_list.time_found}}</div> <br>
<div id="Location">Location :  {{found_owner_list.location_found}}</div> <br>
<div id="status">Find status :  {{found_owner_list.found_owner}}</div> <br>
<div id="your_name">Username : {{found_owner_list.your_name}}</div> <br>
<div id="your_email">Email : {{found_owner_list.your_email}}</div> <br>


 {% endblock %}
