{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %} 

<br>
<h1>lost notice List</h1>
{% if all_lost_noitce_list %}
	{% for LostNoticeList in all_lost_noitce_list %}
		<tr><td><a href="{% url 'detail_lost_item' LostNoticeList.id %}" class="btn btn-link">{{ LostNoticeList.title }}</a></td></tr> <br>
	{% endfor %}
{% endif %}
<br>
<h1>Find owner List</h1>
{% if all_found_owner %}
	{% for FindOwnerList in all_found_owner %}
		<tr><td><a href="{% url 'detail_found_owner' FindOwnerList.id %}" class="btn btn-link">{{ FindOwnerList.title }}</a></td></tr> <br>
	{% endfor %}
{% endif %}
</div>	


{% endblock %}