{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %} 

<h1>Profile</h1>
Username : <B>{{user_data.username}}</B> <br>
E-mail : <B>{{user_data.email}}</B> <br>
<br>
<b>lost notice list</b>
<table id="id_list_table">
</table>
{% if lost_noitce_list %}
	{% for LostNoticeList in lost_noitce_list %}
		<tr><td><a href="{% url 'detail_lost_item' LostNoticeList.id %}">{{ LostNoticeList.title }}</a></td></tr> <br>
	{% endfor %}
{%else%}
no lost notice list
{% endif %}

<br><br>
<b>find owner list</b>
<br>
{% if found_owner_list %}
	{% for FindOwnerList in found_owner_list %}
		<tr><td><a href="{% url 'detail_lost_item' FindOwnerList.id %}">{{ FindOwnerList.title }}</a></td></tr> <br>
	{% endfor %}
{%else%}
no find owner list
{% endif %}

 {% endblock %}