{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %} 

<h1>Register</h1>


<form action="{% url 'register_check' %}" method="POST">
    <div class="col-sm-4">
	Username : <input type="text" class="form-control" name="username" id="id_your_name" placeholder="Enter Your name" /></br>

	E-mail : <input type="text" class="form-control" name="email" id="id_your_email" placeholder="Enter your e-mail" /></br>

	<input type="submit" value="Register" class="btn btn-success">
	{% csrf_token %}
        </form>


 {% endblock %}