{% extends "base.html" %}

{% block title %}

	{% if user_check %}
		Register Failed

	{% else %}
		Register Complete

	{% endif %}

{% endblock %}

{% block content %} 

{% if user_check %}
<h1>Register Failed</h1>
User : {{username}}<br>
<a href="{% url 'register_page' %}" id="register_page" class="btn btn-warning">Register Again</a>

{% else %}
<h1>Register Complete</h1>
User : {{username}}<br><br>
<a href="{% url 'login_page' %}" id="login_page" class="btn btn-success">Login</a> 
{% endif %}

{% endblock %}
